.demo-1 {
	--color-text: #fff;
	--color-bg: #0a192f;
	--color-link: #fff;
	--color-link-hover: #507cb5;
	--color-info: #507cb5;
	--color-title: #fff;
	--color-subtitle: #fff;
	--color-subtitle-bg: #507cb5;
}

header {
    height: 50px;
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -40px;
}

.introduction {
	font-family: "Comfortaa", cursive;
	font-size: 1.2em;
	color: #64ffda;
	position:relative;
	left:-157px;
	top:-300px;
	text-align:left;
}

.content__title {
	font-family: 'Montserrat', serif;
	font-size: 4em;
	font-weight: 600;
	color: #ccd6f6;
	text-align: left;
	/* margin: 10px 0 40px; */
	/* left: 50; */
	position:relative;
	left:-160px;
	top:-120px;
	pointer-events: none;
	/* padding-right: 100; */
	/* padding: 0.45em 0.5em; */
}

.content__subtitle {
	font-family: 'Montserrat', serif;
	font-size: 4em;
	font-weight: 600;
	color: #8892b0;
	position:relative;
	left:-160px;
	top:-120px;
	line-height: 1;
	margin: 0;
	text-align: left;
	/* letter-spacing: 0.5em; */
	/* text-indent: 0.5em; */
	/* font-weight: bold; */
	/* text-transform: uppercase; */
}

.content__details {
	font-family: 'Montserrat', serif;
	font-size: 1em;
	font-weight: 400;
	color: #8892b0;
	position:relative;
	left:-160px;
	top:-40px;
	line-height: 1;
	margin: 0;
	text-align: left;
}

@media screen and (max-width: 55em) {
	.content__title {
		font-size: 5em;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
	}
	.content__subtitle {
		font-family: 'Montserrat', sans-serif;
		font-size: 5em;
		font-weight: 600;
	}
}

#WS-ScroLi {
	position: absolute;
  }
  
  #WS-ScroLi.fixed {
	position: fixed;
  }
  
  #WS-ScroLi.asbolute {
	position: absolute;
  }
  
  #WS-ScroLi [class^="item"] {
	display: inline-block;
	display: inline-<a href="https://www.jqueryscript.net/tags.php?/grid/">grid</a>;
	justify-content: center;
	align-content: center;
	position: relative;
  }
  
  #WS-ScroLi [class^="item"] .line, #WS-ScroLi [class^="item"] .line-animation {
	position: absolute;
  }
  
  #WS-ScroLi [class^="item"] .line-animation {
	z-index: 999;
  }
  
  #WS-ScroLi [class^="item"].reading {
	color: red;
	border-color: red;
  }
  
  #WS-ScroLi [class^="item"].reading .line, #WS-ScroLi [class^="item"].reading .line-animation {
	background: red;
  }
  
  #WS-ScroLi [class^="item"].current {
	border-width: 3px;
	color: green;
	border-color: green;
  }
  @import url("https://fonts.googleapis.com/css?family=Muli:400,700");
  #WS-ScroLi {
	position: absolute;
	z-index: 1; }
	#WS-ScroLi.fixed {
	  position: fixed; }
	#WS-ScroLi.asbolute {
	  position: absolute; }
	#WS-ScroLi [class^="item"] {
	  display: inline-block;
	  display: inline-grid;
	  justify-content: center;
	  align-content: center;
	  position: relative; }
	  #WS-ScroLi [class^="item"] .line, #WS-ScroLi [class^="item"] .line-animation {
		position: absolute; }
	  #WS-ScroLi [class^="item"] .line-animation {
		z-index: 999; }
	  #WS-ScroLi [class^="item"].reading {
		color: red;
		border-color: red; }
		#WS-ScroLi [class^="item"].reading .line, #WS-ScroLi [class^="item"].reading .line-animation {
		  background: red; }
	  #WS-ScroLi [class^="item"].current {
		border-width: 3px;
		color: green;
		border-color: green; }
  
  body {
	font-family: 'Muli', sans-serif; }
	body #header {
	  height: 1000px;
	  width: 100%;
	  background-color: orange;
	  overflow: auto;
	  display: grid;
	  justify-content: center;
	  align-content: center; }
	  body #header h1 {
		text-align: center;
		color: white;
		font-size: 60px; }
	body #description p {
	  text-align: center;
	  font-size: 18px;
	  margin: 50px 0; }
  