.demo-1 {
	--color-text: #fff;
	--color-bg: #0a192f;
	--color-link: #fff;
	--color-link-hover: #64ffda;
	--color-info: #507cb5;
	--color-title: #fff;
	--color-subtitle: #fff;
	--color-subtitle-bg: #507cb5;
}

html {
	scroll-behavior: smooth;
  }

header {
    height: 50px;
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
	width: 100%;
}

.nav-up {
    top: -50px;
}

.navbar {
	font-family: "Comfortaa", cursive;
	font-size: 1em;
}

.navbar-nav > li{
	padding-left:10px;
	padding-right:10px;
  }


.introduction {
	font-family: "Comfortaa", cursive;
	font-weight: 400;
	font-size: 1.1em;
	color: #64ffda;
	position:relative;
	left:-157px;
	top:-240px;
	text-align:left;
}

.content__title {
	font-family: 'Montserrat', serif;
	font-size: 4em;
	font-weight: 600;
	color: #ccd6f6;
	text-align: left;
	/* margin: 10px 0 40px; */
	/* left: 50; */
	position:relative;
	left:-160px;
	top:-70px;
	pointer-events: none;
	/* padding-right: 100; */
	/* padding: 0.45em 0.5em; */
}

.content__subtitle {
	font-family: 'Montserrat', serif;
	font-size: 4em;
	font-weight: 600;
	color: #8892b0;
	position:relative;
	left:-160px;
	top:-70px;
	line-height: 1;
	margin: 0;
	text-align: left;
	/* letter-spacing: 0.5em; */
	/* text-indent: 0.5em; */
	/* font-weight: bold; */
	/* text-transform: uppercase; */
}

.content__details {
	font-family: 'Montserrat', serif;
	font-size: 1.1em;
	font-weight: 400;
	color: #8892b0;
	position:relative;
	left:-160px;
	top:-30px;
	line-height: 1;
	margin: 0;
	text-align: left;
	line-height: 20pt;
}

@media screen and (max-width: 55em) {
	.content__title {
		font-size: 5em;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
	}
	.content__subtitle {
		font-family: 'Montserrat', sans-serif;
		font-size: 5em;
		font-weight: 600;
	}
}

#WS-ScroLi {
	position: absolute;
  }
  
  #WS-ScroLi.fixed {
	position: fixed;
  }
  
  #WS-ScroLi.asbolute {
	position: absolute;
  }
  
  #WS-ScroLi [class^="item"] {
	display: inline-block;
	display: inline-<a href="https://www.jqueryscript.net/tags.php?/grid/">grid</a>;
	justify-content: center;
	align-content: center;
	position: relative;
  }
  
  #WS-ScroLi [class^="item"] .line, #WS-ScroLi [class^="item"] .line-animation {
	position: absolute;
  }
  
  #WS-ScroLi [class^="item"] .line-animation {
	z-index: 999;
  }
  
  #WS-ScroLi [class^="item"].reading {
	color: red;
	border-color: red;
  }
  
  #WS-ScroLi [class^="item"].reading .line, #WS-ScroLi [class^="item"].reading .line-animation {
	background: red;
  }
  
  #WS-ScroLi [class^="item"].current {
	border-width: 3px;
	color: green;
	border-color: green;
  }
  @import url("https://fonts.googleapis.com/css?family=Muli:400,700");
  #WS-ScroLi {
	position: absolute;
	z-index: 1; }
	#WS-ScroLi.fixed {
	  position: fixed; }
	#WS-ScroLi.asbolute {
	  position: absolute; }
	#WS-ScroLi [class^="item"] {
	  display: inline-block;
	  display: inline-grid;
	  justify-content: center;
	  align-content: center;
	  position: relative; }
	  #WS-ScroLi [class^="item"] .line, #WS-ScroLi [class^="item"] .line-animation {
		position: absolute; }
	  #WS-ScroLi [class^="item"] .line-animation {
		z-index: 999; }
	  #WS-ScroLi [class^="item"].reading {
		color: red;
		border-color: red; }
		#WS-ScroLi [class^="item"].reading .line, #WS-ScroLi [class^="item"].reading .line-animation {
		  background: red; }
	  #WS-ScroLi [class^="item"].current {
		border-width: 3px;
		color: green;
		border-color: green; }
  
  body {
	font-family: 'Muli', sans-serif; }
	body #header {
	  height: 1000px;
	  width: 100%;
	  background-color: orange;
	  overflow: auto;
	  display: grid;
	  justify-content: center;
	  align-content: center; }
	  body #header h1 {
		text-align: center;
		color: white;
		font-size: 60px; }
	body #description p {
	  text-align: center;
	  font-size: 18px;
	  margin: 50px 0; }

	  .arrow {
		text-align: center;
		width: 40px;
		height: 40px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px;
		position: relative;
		top: 190px;
	  }
	  .bounce {
		-moz-animation: bounce 2s infinite;
		-webkit-animation: bounce 2s infinite;
		animation: bounce 2s infinite;
	  }
	  
	  @keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
		  transform: translateY(0);
		}
		40% {
		  transform: translateY(-30px);
		}
		60% {
		  transform: translateY(-15px);
		}
	  }
  
btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
		background-color: #8064A2 !important;
	}

.btn-outline-primary {
	outline: #64ffda;

}

.section-header {
	font-family: 'Montserrat', serif;
	font-size: 2em;
	font-weight: 600;
	color: #ccd6f6;
	text-align: left;
	position:relative;
	top: 150px;
	pointer-events: none;
}

.text-line {
	width: 300px;
	height: 1px; 
	border: none; 
	background-color: #333f58;
	position:relative;
	top: -35px;
	left: -350px;
}

.section-details {
	font-family: 'Montserrat', serif;
	font-size: 1.1em;
	font-weight: 400;
	color: #8892b0;
	position:relative;
	top: 170px;
	left: 220px;
}

.bullet-list{
	width: 400px;
	-webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
}

/* project cards */
.card {
	background: #172a45;
	border-radius: 2px;
	display: inline-block;
	height: 125px;
	margin: 1rem;
	position: relative;
	width: 500px;
	z-index: 52;
	font-family: "Comfortaa", cursive;
	font-weight: 400;
	font-size: 1em;
	color: #8892b0;
	/* padding: 20px; */
  }
  
  .card-1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .bullet-list {
	list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: #64ffda; /* Change the color */
	font-weight: bold; /* If you want it to be bold */
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 1em; /* Also needed for space (tweak if needed) */
	margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

  .pigeonpost {
	  opacity: 0.5;
	  color: #64ffda; 
	  transition: opacity .25s ease-in-out;
  }

  .pigeonpost:hover {
	opacity: 1;
  }
  
  .external{

  }